body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(88, 83, 83);
}

#calculator{
    font-family: Arial,sans-serif;
    background-color:black;
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 25px;
    text-align: left;
    border: none;
    background-color: rgb(46, 44, 44);
    color: white;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 25px;
}
button{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    border: none;
    background-color: rgb(128, 118, 118);
    color: white;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: rgb(128, 130, 130);
}
button:active{
    background-color: rgb(128, 148, 148);
}
.operator-btn{
    background-color: rgb(62, 116, 116);
}
.operator-btn:hover{
    background-color: rgb(140, 182, 182);
}
.operator-btn:active{
    background-color: rgb(62, 146, 156);
}
/*  */